[submodule "exam-service"]
	path = exam-service
	url = https://github.com/cyberArtik/exam-service.git
[submodule "world-service"]
	path = world-service
	url = https://github.com/cyberArtik/world-service.git
[submodule "base-service"]
	path = base-service
	url = https://github.com/Nick34567890/base-service.git
[submodule "crafting-service"]
	path = crafting-service
	url = https://github.com/Nick34567890/crafting-service.git
[submodule "game-service"]
	path = game-service
	url = https://github.com/IslamAbukoush/game-service.git
[submodule "player-service"]
	path = player-service
	url = https://github.com/IslamAbukoush/player-service.git
[submodule "zombie-service"]
	path = zombie-service
	url = https://github.com/MaxRoenco/zombie-service.git
[submodule "resource-service"]
	path = resource-service
	url = https://github.com/MaxRoenco/resource-service.git
